:root{
    --darkColor: #1f2937;
    --textColor: #e5e7eb;
}
.bold{
    font-weight: bolder;
}
.big{
    font-size: 48px;
}
.italic{
    font-style: italic;
}

body{
    
    margin: 0 auto;

}

.intro{
    background-color: var(--darkColor);
    color: var(--textColor);
    
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.logo{
    display: flex;
    
    align-items: flex-start;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

a{
    padding-left: 20px;
}


.text{
    width: 33%;
    flex-wrap: wrap;
    padding-left: 30px;
}

.text>p{
    height: auto;
}

img{
    width: 400px;
    height: 200px;
}
button{
    background-color: #3882f6;
    border-radius: 2px;
    border: none;
    color: #f9faf8;
    width: 75px;
    font-weight: bold;
}

.pg-2{
    text-align: center;
}
.pg-2>p{
    font-size: 36px;
    color: var(--darkColor);
}

.image-bloc{
    display: flex;
    justify-content:center;
    justify-content: space-evenly;
    padding: auto;
}

.image-bloc >div> img{
    width:100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.testimonials{
    flex-wrap: wrap;
    padding:50px 0 50px;
    background-color: var(--textColor);
}

.testimonial{
    font-size: 36px;
    color: var(--darkColor);
    margin: 0 auto;
    width: 60%;
}